<div class="row">
    <div class="col-lg-6">
        <div class="widget navy-bg no-padding">
            <div class="p-m">
                <i class="fa fa-hand-pointer-o fa-5x" style="color:ghostwhite">BiBlog</i>
                <p>
                    <font face="tahoma" size="5" color="mediumblue">
                        
                    </font>
                </p>
                <h3>Projemizin bu panelinde admin işlemleri bir area yapısı üzerinden gerçekleştirilmektedir. Sol tarafta yer alan Sidebardan yardım menüsüne ulaşıp takılıdığınız noktalarla ilgili yardım alabilirsiniz.</h3>

            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget lazur-bg no-padding">
            <div class="p-m">
                <i class="fa fa-pencil fa-5x"></i>
                <h2 class="font-bold no-margins">
                    Son Eklenen Blog
                </h2>
                <h3>@ViewBag.v1</h3>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart2"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget yellw-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">₺ 50,992</h1>

                <h2 class="font-bold no-margins">
                    Blog Site Kazancı
                </h2>
                <h5>Ürün tanıtımları, promosyonlar, reklamlar, anlaşmalar.</h5>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart3"></div>
            </div>
        </div>
    </div>
</div>